<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  </head>
    <title>마이페이지 - {{ user.user_name }}</title>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 text-center">
          <h1>마이페이지</h1>
        </div>
      </div>
    <div class="row mt-5">
      <div class="col-12">
        <form method="POST" action=".">
          {% csrf_token %}
          <div class="form-group">
            <label for="username">사용자 이름</label>
            <p class="form-control" id="username" name="username" > {{ user.user_name }} </p>
          </div>

          <div class="form-group">
            <label for="age">나이</label>
            <p class="form-control" id="username" name="username" > {{ user.age }} </p>
          </div>

          <div class="form-group">
            <label for="gender">성별</label>
            <p class="form-control" id="username" name="username" > {{ user.gender }} </p>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <p class="form-control" id="username" name="username" > {{ user.e_mail }} </p>
          </div>

          <div class="form-group">
            <label for="ID">ID</label>
            <p class="form-control" id="username" name="username" > {{ user.user_id }} </p>
          </div>

          <div class="form-group">
            <label for="password">비밀번호</label>
            <input
              type="text" 
              class="form-control" 
              id="password" 
              placeholder="비밀번호"
              name="password">
          </div>
          <a class="btn btn-primary" href= "/user/update/ {{ user.id }}" role="button"> 수정 </a>
          <a href = "{% url 'user:delete' id=user.id %}" class="btn btn-primary" > 탈퇴 </a>
        </form>
      </div>
    </div>
  </div>

</body>
</html>